In [31]:

import pandas as pd
import kaggle
from pandas import value_counts

OSError: Could not find kaggle.json. Make sure it's located in C:\Users\jecip\.kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [2]:
! kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to C:\Users\jecip\PycharmProjects\pythonProject1

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|##########| 165k/165k [00:00<00:00, 262kB/s]
100%|##########| 165k/165k [00:00<00:00, 262kB/s]

In [7]:
#extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as zip_ref:
    zip_ref.extractall()

In [11]:
# read in the csv file as a pandas data frame
bikes = pd.read_csv("london_merged.csv")

In [32]:
# explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              17414 non-null  object
 1   count             17414 non-null  int64
 2   temp_real_C       17414 non-null  float64
 3   temp_real_Like_C  17414 non-null  float64
 4   humidity_percent  17414 non-null  float64
 5   wind_speed_kph    17414 non-null  float64
 6   weather           0 non-null      object
 7   is_holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   season            0 non-null      object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [33]:
bikes.shape

(17414, 10)

In [34]:
bikes

,time,count,temp_real_C,temp_real_Like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,NaN,0.0,1.0,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,NaN,0.0,1.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,NaN,0.0,1.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,NaN,0.0,1.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,NaN,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,NaN,0.0,0.0,NaN
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,NaN,0.0,0.0,NaN
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,NaN,0.0,0.0,NaN
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,NaN,0.0,0.0,NaN
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,NaN,0.0,0.0,NaN

In [16]:
#count the unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [18]:
# count the unique values im season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [30]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              17414 non-null  object
 1   count             17414 non-null  int64
 2   temp_real_C       17414 non-null  float64
 3   temp_real_Like_C  17414 non-null  float64
 4   humidity_percent  17414 non-null  float64
 5   wind_speed_kph    17414 non-null  float64
 6   weather           0 non-null      object
 7   is_holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   season            0 non-null      object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

bikes.info()

In [28]:
# specifying the column names that i want to use
new_cols_dict ={
'timestamp':'time',
'cnt':'count',
't1':'temp_real_C',
't2':'temp_real_Like_C',
'hum':'humidity_percent',
'wind_speed':'wind_speed_kph',
'weather_code':'weather',
'is_holiday':'is_holiday',
'is_weekend':'is_weekend',
'season':'season',
    
}

#renaming the columns ton the specified columns names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [29]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              17414 non-null  object
 1   count             17414 non-null  int64
 2   temp_real_C       17414 non-null  float64
 3   temp_real_Like_C  17414 non-null  float64
 4   humidity_percent  17414 non-null  float64
 5   wind_speed_kph    17414 non-null  float64
 6   weather           0 non-null      object
 7   is_holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   season            0 non-null      object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [26]:
bikes

,time,count,temp_real_C,temp_real_Like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,NaN,0.0,1.0,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,NaN,0.0,1.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,NaN,0.0,1.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,NaN,0.0,1.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,NaN,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,NaN,0.0,0.0,NaN
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,NaN,0.0,0.0,NaN
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,NaN,0.0,0.0,NaN
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,NaN,0.0,0.0,NaN
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,NaN,0.0,0.0,NaN

In [21]:
#changing the humidity values to percentage (i.e a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [35]:
# creating a season dictionary so that we can map integers 0-3 to the actual written values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter',  
}

#creating a weather dictionary so that we can map the intergers to th actual written values
weather_dict ={
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
    
}


if 'season' in bikes.columns and 'weather' in bikes.columns:
    bikes.season = bikes.season.astype('str').map(season_dict)
    bikes.weather = bikes.weather.astype('str').map(weather_dict)
#Changing the seasons columns data type to string
#bikes.season = bikes.season.astype('str')
#mapping the values 0-3 to the actual written seasons
#bikes.season = bikes.season.map(season_dict)

#Changing the weather columns data type to string

#bikes.weather=bikes.weather.astype('str')
#mapping the values to the actual written weathers
#bikes.weather = bikes.weather.map(weather_dict)

In [37]:
# Ensure the weather column exists and convert it to string type
if 'weather' in bikes.columns:
    bikes['weather'] = bikes['weather'].astype(str)

In [38]:
# checking the dataframe to see if the changes have reflected
bikes.head()

,time,count,temp_real_C,temp_real_Like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,nan,0.0,1.0,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,nan,0.0,1.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,nan,0.0,1.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,nan,0.0,1.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,nan,0.0,1.0,NaN